:host {
  display: block;
  padding: 20px;
  .balance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 20vh;

    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px #000;
    background-color: #dbdbdbb3;
  }

  h2 {
    text-align: center;
  }
}
